<article class="shadow-[0_5px_15px_0] shadow-[#7232F2] rounded-xl transform hover:scale-110 transition-all duration-300 py-5 px-6">
    <div class="flex flex-row items-center">
        <img
            class="w-40 h-40"
            src="src/assets/tec.png"
            alt="logo del tecnologico de Morelia"
        />
        <div class="flex flex-col gap-2">
            <h3 class="uppercase font-black">computer systems engineering</h3>
            <h4 class="text-sm">Technological Institute of Morelia</h4>
            <p class="text-xs text-gray-300">
                I am currently in my seventh semester at the Technological
                Institute of Morelia. Throughout my studies, I have built a
                solid foundation in software development and strengthening my
                knowledge in programming. I have also developed strong skills in
                teamwork, problem-solving, and independent learning, which
                enable me to adapt easily to new academic and professional
                challenges.
            </p>
        </div>
    </div>
</article>
