---
import ProyectCard from "./ProyectCard.astro";
---

<div
    class="w-150 text-[#F0F0F0] flex flex-col justify-center items-center font-anta text-2xl relative mt-15"
>
    <div class="swiper-proyect transform h-full w-full">
        <div class="swiper-wrapper">
            <div class="swiper-slide opacity-50">
                <ProyectCard
                    title="Trendify"
                    description="E-commerce platform focused on selling youth clothing. The project includes an integrated points of sale through the PayPal API as well as a chatbot designed to recommend styles that best match customer preferences."
                    img="src/assets/ecommerce.png"
                    tech={[
                        "src/assets/javascript.svg",
                        "src/assets/react.svg",
                        "src/assets/tailwind.svg",
                    ]}
                />
            </div>
            <div class="swiper-slide opacity-50">
                <ProyectCard
                    title="SGI-Proyect"
                    description="Competition management platform for schools in Michoacán. It provides end-to-end functionality, from competition registration to the generation of automated statistical reports."
                    img="src/assets/sgiproyect.png"
                    tech={[
                        "src/assets/javascript.svg",
                        "src/assets/react.svg",
                        "src/assets/tailwind.svg",
                    ]}
                />
            </div>
            <div class="swiper-slide opacity-50">
                <ProyectCard
                    title="pseudorandom number generator"
                    description="Desktop application for pseudorandom number generation methods and statistical validation tests. It includes a range of tests, from simple constant multiplication to the Kolmogorov–Smirnov (KS) test."
                    img="src/assets/simulacion.png"
                    tech={["src/assets/java.svg"]}
                />
            </div>
        </div>
    </div>
</div>

<script>
    import Swiper from "swiper";
    import "swiper/css";

    const swiper = new Swiper(".swiper-proyect", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        loop: true,
        initialSlide: 0,
        slidesPerView: "auto",

        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },

        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
    });
</script>

<style>
    .swiper-proyect .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-proyect .swiper-slide-active {
        z-index: 10;
        transform: scale(1.1);
        transition: all 0.3s ease;
        opacity: 1;
    }
</style>
